@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');
@media only screen and (max-width: 600px) {
 .buttons {
    flex-direction: column-reverse;
    #new-quote{
       margin-bottom: 10px;
    }
}
}
.App {
  text-align: center;
  #quote-box{
    width: 450px;
    height: auto;
    padding: 40px 50px;
    background-color: white;
    border-radius: 10px;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;


    #text{
      margin-bottom: 0px;
      #quote-icon{
      margin-right: 10px;
      }
    }
    #author{
      margin-top: 0px;
      text-align: end;
    }
  
    .buttons{
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    }
    #tweet-quote{

      display: flex;
      align-self: center;
      padding: 10px;
      color: white;
      border-radius: 10px;
      justify-content: center;
    }
    #new-quote{
      color: white;
      border-radius: 10px;
      padding: 10px;
      border: none;
      cursor: pointer;
      font-size: 16px;
    }
  }


  .App-header {
  padding: 10px;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
}



